.subscribe {
    background-color: #2D3651;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    padding: 30px;

    @media (max-width: 992px) {
        padding: 20px 0;
    }

    &-form {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "fb1 fb2 fb3";
        grid-gap: 10px;
        justify-content: center;
        align-items: center;
        height: 100%;
        @extend %container;

        &>button:nth-child(3) {
            grid-area: fb3;
            border-color: rgba(255,255,255, 0);
            border-bottom-color: rgba(255,255,255, 0.2);;
            color: white;
            outline: none;

            &:hover {
                border: 2px solid white;
            }
        }

        @media (max-width: 992px) {
            grid-gap: 23px ;
        }

        @media (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas: "fb1 fb1""fb2 fb3";
        }

        @media (max-width: 576px) {
            grid-template-columns: 1fr;
            grid-template-areas: "fb1""fb2""fb3";
        }

        &__input {
            display: block;
            padding: 10px 30px;
            font-size: 1.125rem;
            height: 60px;
            color: white;
            transition: background-color 0.5s, border-color 0.5s;
            letter-spacing: 0.15em;
            background-color: rgba(white, 0.05);
            border: 2px solid rgba(white, 0);
            border-bottom: 2px solid rgba(white, 0.25);

            @media(max-width: 992px) {
                font-size: 1rem;
                padding: 10px 20px;
            }

            &:nth-child(1)::placeholder {
                color: rgba(white, 0.5);
            }

            &:nth-child(2)::placeholder {
                color: rgba(white, 0.5);
            }
            

            &:hover,
            &:focus {
                background-color: rgba(white, 0.15);
                border: 2px solid rgba(white, 0.15);
                border-bottom: 2px solid white;
                outline: none;
            }
        }
    }
}

@for $i from 1 through 2 {
    .subscribe-form>input:nth-child(#{$i}) {
        grid-area: fb#{$i};
    }
}