.subscribe {
    font-family: $font-header;
    font-size: $gap;
    padding: 30px;
    background-color: $color-primary;

    @include lg {
        padding: $gap 0;
    }

    &-form {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "fb1 fb2 fb3";
        grid-gap: 10px;
        justify-content: center;
        align-items: center;
        height: 100%;
        @extend %container;

        @include lg {
            grid-gap: 23px;
        }

        @include md {
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas: "fb1 fb1" "fb2 fb3";
        }

        @include sm {
            grid-template-columns: 1fr;
            grid-template-areas: "fb1" "fb2" "fb3";
        }

        &>button:nth-child(3) {
            color: $color-light;
            border-color: rgba(255, 255, 255, 0);
            border-bottom-color: rgba(255, 255, 255, 0.2);
            outline: none;
            grid-area: fb3;

            &:hover {
                border: 2px solid $color-light;
            }
        }

        &__input {
            font-size: 1.125rem;
            display: block;
            height: 60px;
            padding: 10px 30px;
            transition: background-color 0.5s, border-color 0.5s;
            letter-spacing: 0.15em;
            color: $color-light;
            border: 2px solid rgba($color-light, 0);
            border-bottom: 2px solid rgba($color-light, 0.25);
            background-color: rgba($color-light, 0.05);

            @include lg {
                font-size: 1rem;
                padding: 10px $gap;
            }

            &:nth-child(1)::placeholder {
                color: rgba($color-light, 0.5);
            }

            &:nth-child(2)::placeholder {
                color: rgba($color-light, 0.5);
            }

            &:hover,
            &:focus {
                border: 2px solid rgba($color-light, 0.15);
                border-bottom: 2px solid $color-light;
                outline: none;
                background-color: rgba($color-light, 0.15);
            }
        }
    }
}

@for $i from 1 through 2 {
    .subscribe-form>input:nth-child(#{$i}) {
        grid-area: fb#{$i};
    }
}