.about {
    padding: 100px 0;
    letter-spacing: 0.055em;
    background-color: $color-gray-light;

    @include lg {
        padding: 50px 0;
    }

    @include md {
        padding: 60px 0;
    }

    &__container {
        display: grid;

        @extend %container;
        @include lg-min {
           grid-gap: 100px; 
           grid-template-columns: 1fr 271px;
        }
        @include lg-md {
            grid-gap: 40px;
            grid-template-columns: 1fr 271px;
        }
        @include md-sm {
            grid-gap: 20px;
            grid-template-columns: 1fr 236px;
        }
        @include sm {
            grid-gap: 20px;
            grid-template-columns: 1fr;
        }
        // grid-template-areas: "att aim" "atx aim";


        // @include sm {
        //     grid-template-areas: "att" "atx" "aim";
        //     grid-template-columns: 1fr;
        // }
    // }

    &__title {
        p {
            @include lg-min {
                font-size: 1.125rem;
            }
        }
        font-family: $font-main;
        font-size: 2.5rem;
        letter-spacing: 0.12em;
        margin-top: 0;
        color: $color-primary;
        grid-area: att;

        @include lg {
            font-size: 2rem;
            margin-bottom: 20px;
        }

        @include md {
            font-size: 1.5rem;
            letter-spacing: 0.14em;
            margin-bottom: 12px;
        }

        @include sm {
            text-align: center;
        }
    }

    &__text {
        font-size: 1.125rem;
        line-height: 1.34em;
        grid-area: atx;
        position: relative;
        margin-right: $gap * 5 - 10px;

        @include lg-min {
           right: 45px;
        }
        @include lg-md {
            right: -20px;
        }

        @include md-sm {
            font-size: 1rem;
            margin-right: $gap * 2 - 5px;
        }
        @include sm {
            display: none;
        }

        &::after {
            position: absolute;
            content: "";
            
            top: 1em;
            width: 2px;
            height: 200px;
            background-color: rgba($color-gray, 0.1);

            @include lg-min {
                right: -$gap * 2.5;
            }

            @include lg-md {
                right: -$gap;
            }

            @include md-sm {
                right: (-$gap / 2) - 5px;
            }

            @include sm {
                display: none;
            }
        }
    }

    &__image {
        display: grid;
        grid-area: aim;
        align-content: center;
        justify-items: center;
        

        img {
            width: 271px;
            height: 488px;
        }
    }
}