.posts {
    padding: 100px 0;

    @include lg {
        padding: 80px 0;
    }

    @include md {
        padding: 60px 0;
    }

    @include sm {
        text-align: center;
    }

    &__header {
        font-size: 2.5rem;
        margin-bottom: 50px;
        letter-spacing: 0.1em;
        color: $color-primary;
        @extend %container;

        @include lg {
            font-size: 2rem;
            letter-spacing: 0.11em;
        }

        @include md {
            font-size: 1.5rem;
            margin-bottom: 30px;
        }
    }

    &__container {
        display: grid;
        grid-gap: $gap;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: "p1 p1 p2 p3" "p4 p5 p6 p6";
        @extend %container;

        @include lg {
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas: "p1 p1 p2" "p3 p4 p4" "p5 p5 p6";
        }

        @include md {
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas: "p1 p2" "p3 p4" "p5 p6";
        }

        @include sm {
            grid-template-columns: 1fr;
            grid-template-areas: "p1" "p2" "p3" "p4" "p5" "p6";
        }
    }

    &-item {
        display: grid;
        transition: background-color 0.5s;
        background-color: #f2f2f2;
        grid-template-rows: 300px 1fr;
        align-items: center;

        &__image {
            display: flex;
            overflow: hidden;
            height: 300px;

            img {
                object-fit: cover;
                width: 100%;
                transition: transform 0.5s;
                background-position: 50% 50%;
                background-size: cover;
            }
        }

        &__caption {
            padding: $gap;
        }

        h3 {
            font-family: $font-header;
            font-size: 1.125rem;
            font-weight: bold;
            width: 100%;
            padding: 16px 0;
            transition: color 0.5s;
            text-align: center;
            letter-spacing: 0.05em;

            @include sm {
                margin-top: 33px;
            }
        }

        p {
            font-size: 1rem;
            margin: 16px 0;
            transition: color 0.5s;
            text-align: center;
        }
    }

    &-button {
        display: flex;
        padding-top: $gap;
        justify-content: center;
        @extend %container;
    }

    &-item:hover img {
        transform: scale(1.1);
    }

    &-item:hover {
        color: $color-primary;
        background-color: #d8d8d8;

        h3 p {
            color: $color-primary;
        }
    }

}

@for $i from 1 through 6 {
    .posts-item:nth-of-type(#{$i}) {
        grid-area: p#{$i};
    }
}