.about {
    background-color: #E5E5E5;
    padding: 100px 150px 87px;

    @media (max-width: 576px) {
        background-color: #E5E5E5;
        padding: 100px 50px 87px;
    }

        &_container {
           grid-template-areas: "rtt rtt" "rtx  rtx" "rim rim";
        }
        &-title {
            grid-area: rtt;
            font-size: 2.5rem;
            color: #2d3651;
        }

        &-text {
            grid-area: rtx;
        }

        &-line {
            display: none;
        }
    }

    &_container {
        display: grid;
        grid-template-areas: "rtt rtt rim" "rtx rln rim";
    }

    &-title {
        grid-area: rtt;
        font-family: "Roboto Slab", serif;
        font-size: 2.5rem;
        color: #2d3651;
    }

    &-text {
        grid-area: rtx;
    }

    &-line {
        grid-area: rln;
        background-color: #707070;
        height: 200px;
        width: 1px;
        margin: 1em 30px 0 30px;
    }

    &-image {
        grid-area: rim;
        width: 271px;
        height: 488px;
    }
    
}


