* {
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
    font-family: $font-main;
    font-size: $font-size;
    color: $color-gray;
    line-height: 1.15;
}

h1 {
    font-family: $font-header;
    font-weight: 300;
    line-height: 1.2em;
    letter-spacing: 0.08em;

    @include lg-min {
        font-size: 3.75rem;
    }

    @include lg-md {
        font-size: 2.5rem;
    }

    @include md {
        font-size: 1.875rem;
    }
}

h3 {
    letter-spacing: 0.1em;
}

a {
    text-decoration: none;
    color: #fff;
}

.btn,
.btn-accent {
    display: block;
    padding: 18px 20px;
    font-size: 1.125rem;
    height: 60px;
    text-align: center;
    transition: background-color 0.5s;
    letter-spacing: 0.1em;

    &:hover,
    &:focus {
        background-color: $color-accent;
    }
}

.btn {
    min-width: 250px;
    border: 2px solid $color-light;
    background-color: rgba($color-light, 0.1);
    height: 60px;
    padding: 18px $gap;
}

.btn-accent {
    background-color: rgba($color-primary, 0.8);
    border: 2px solid $color-primary;
    min-width: 350px;
    font-size: 1.125rem;

    @include sm {
        min-width: auto;
        width: 100%;
    }
}