.footer {
    display: block;
    padding: 50px $gap 70px;
    text-align: center;
    background-color: $color-primary;

    &__container {
        @extend %container;
    }

    &-line {
        display: flex;
        padding: $gap 0 $gap;
        justify-content: center;

        @include sm {
            margin-top: 10px;
        }

        &__element {
            width: 75px;
            height: 1px;
            background-color: rgba(255, 255, 255, 0.2);
        }
    }

    &-text {
        margin-right: -0.5em;
        letter-spacing: 0.33em;

        &:first-of-type {
            @include md {
                margin-top: 10px;
            }
        }


        &:last-of-type {
            font-weight: 700;
            letter-spacing: 0.05em;
            color: $color-gray-light;
        }
    }

    &-icon {
        display: grid;
        text-align: center;
        align-items: center;
        justify-content: center;
        grid-template-columns: repeat(auto-fit, minmax(50px, max-content));

        .fab {
            font-size: 2.25rem;
        }

        a {
            font-size: $gap;
            padding: 5px;
            transition: all 0.5s ease;
            color: $color-light;
        }

        a:hover {
            color: $color-accent;
        }
    }
}