.header-content {
    position: relative;

    &__title {
        text-align: center;
        margin: 0 0 53px;

        @media (max-width: 992px) {
            margin: 0 0 43px;
        }
        
        @media (max-width: 768px) {
            margin: 0 0 33px;
        }

        @media (max-width: 576px) {
            margin: 0 0 13px;
        }
    }

    &__container {
        @extend %container;
     }

    &__buttons {
        display: flex;
        justify-content: center;

        @media(max-width: 576px) {
            flex-direction: column;
            align-items: center;
        }

        .btn:first-of-type {
            margin-right: 20px;
        }
    }
}

.header-content__buttons .btn {
    @media(max-width: 992px) {
        min-width: 200px;
        height: 50px;
        font-size: 1rem;
        padding-top: 14px;
        padding-bottom: 14px;
    }

    @media(max-width: 768px) {
        min-width: 170px;
        height: 40px;
        font-size: 1rem;
        padding-top: 10px;
        padding-bottom: 10px;
        letter-spacing: 0.05em;
    }

    @media(max-width: 576px) {
        &:first-of-type {
            margin-right: 0;
        }
        
        &:not(:last-of-type) {
            margin-bottom: 20px;
        }
    }
}


