.header-content {
    position: relative;

    &__title {
        text-align: center;

        @include lg-min {
            margin: 0 0 53px;
        }

        @include lg-md {
            margin: 0 0 43px;
        }

        @include md {
            margin: 0 0 33px;
        }
    }

    &__container {
        @extend %container;
    }

    &__buttons {
        display: flex;

        justify-content: center;

        @include sm {
            flex-direction: column;

            align-items: center;
        }

        .btn:first-of-type {
            @include sm-min {
                margin-right: $gap;
            }
        }
    }
}

.header-content__buttons .btn {
    @include lg-md {
        font-size: 1rem;
        min-width: 200px;
        height: 50px;
        padding: 14px $gap;
    }

    @include md-sm {
        font-size: 1rem;
        min-width: 170px;
        height: 40px;
        padding: 9px $gap;
        letter-spacing: 0.05em;
    }

    @include sm {
        &:first-of-type {
            margin-right: 0;
        }

        &:not(:last-of-type) {
            @include sm {
                margin-bottom: $gap;
            }
        }
    }
}